[submodule "submodules/SimplePIM"]
	path = submodules/SimplePIM
	url = git@github.com:A-nnonymous/SimplePIM.git
[submodule "submodules/stdexec-pim"]
	path = submodules/stdexec-pim
	url = git@github.com:A-nnonymous/stdexec-pim.git
[submodule "submodules/stdexec"]
	path = submodules/stdexec
	url = https://github.com/NVIDIA/stdexec
